services:
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./nginx.conf:/etc/nginx/conf.d/nginx.conf:ro
    networks:
      - app-net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ktor-app
    restart: unless-stopped
    expose:
      - "8080"
    depends_on:
      - mongo
    environment:
      APP_HOST: 0.0.0.0
      APP_PORT: 8080

      MONGO_URI: mongodb://mongo:27017
      MONGO_DB: ServerDB
    networks:
      - app-net

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app-net

volumes:
  mongo_data:

networks:
  app-net: