services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      APP_PORT: "8080"
      APP_HOST: "0.0.0.0"
      APP_SSL_PORT: "8443"

      MONGO_URI: "mongodb://mongo:27017"
      MONGO_DB: "ServerDB"

      SSL_KEYSTORE: "/app/keystore.jks"
      SSL_KEY_ALIAS: "sampleAlias"
      SSL_KEYSTORE_PASS: "foobar"
      SSL_PRIVATE_KEY_PASS: "foobar"

    ports:
      - "8080:8080"
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: